$font-family: var(--font-family);
$basic-font-size: var(--basic-font-size);

$primary-light: var(--primary-light);
$primary-light-0: var(--primary-light-0);
$primary-light-2: var(--primary-light-2);

$border-color-200: var(--border-color-200);
$border-color-400: var(--border-color-400);

$colors-grey-0: var(--colors-grey-0);
$colors-grey-50: var(--colors-grey-50);
$colors-grey-100: var(--colors-grey-100);
$colors-grey-150: var(--colors-grey-150);
$colors-grey-200: var(--colors-grey-200);
$colors-grey-300: var(--colors-grey-300);
$colors-grey-400: var(--colors-grey-400);
$colors-grey-450: var(--colors-grey-450);
$colors-grey-500: var(--colors-grey-500);
$colors-grey-600: var(--colors-grey-600);
$colors-grey-650: var(--colors-grey-650);
$colors-grey-700: var(--colors-grey-700);
$colors-grey-800: var(--colors-grey-800);
$colors-grey-850: var(--colors-grey-850);
$colors-grey-900: var(--colors-grey-800);
$colors-grey-950: var(--colors-grey-950);


$colors-red-0: var(--colors-red-0);
$colors-red-50: var(--colors-red-50);
$colors-red-200: var(--colors-red-200);
$colors-red-300: var(--colors-red-300);
$colors-red-400: var(--colors-red-400);
$colors-red-500: var(--colors-red-500);
$colors-red-600: var(--colors-red-600);
$colors-red-700: var(--colors-red-700);

$colors-blue-0: var(--colors-blue-0);
$colors-blue-50: var(--colors-blue-50);
$colors-blue-100: var(--colors-blue-100);
$colors-blue-700: var(--colors-blue-700);
$colors-blue-800: var(--colors-blue-800);
$colors-blue-950: var(--colors-blue-950);

$colors-purple-500: var(--colors-purple-500);

$colors-orang-50: var(--colors-orang-50);
$colors-orang-300: var(--colors-orang-300);
$colors-orang-400: var(--colors-orang-400);
$colors-orang-500: var(--colors-orang-500);

$colors-yellow-50: var(--colors-yellow-50);
$colors-yellow-100: var(--colors-yellow-100);



$colors-green-0: var(--colors-green-0);
$colors-green-50: var(--colors-green-50);
$colors-green-400: var(--colors-green-400);
$colors-green-600: var(--colors-green-600);

$colors-surface-darker: var(--surface-darker);
$colors-surface-lighter: var(--surface-lighter);


$box-shadow-001: 0rem 1.25rem 2.5rem 0rem $colors-grey-300;