.login-page {
  .login-img {
    background-image: url('../../../../../../public/images/pexels-thorsten-technoman-109353-338504.jpg');
    background-size: cover;
    background-position: center center;
    height: 93vh;
  }
}