.register-page {
  .register-img {
    background-image: url('../../../../../../public/images/pexels-asadphoto-12858509.jpg');
    background-size: cover;
    background-position: center center;
    height: 93vh;
  }
}