@use "variables"as *;
@use "mixins"as *;

.p-breadcrumb {
    padding: 0 !important;
    background-color: unset !important;
    .p-breadcrumb-list{
        gap: 0.1875rem;
    }
    .p-breadcrumb-item-link{
        font-size: 0.75rem;
        color :$colors-grey-400;
        font-weight: 500;
        line-height: 1.125;
    }
    .breadcrumb-prev-link {
        color: $primary-700 !important;
    }
}