@use "variables"as *;
@use "mixins"as *;

p-checkbox {
    height: 1.25rem;
    width: 1.25rem;

    .p-checkbox {
        height: 1.25rem;
        width: 1.25rem;

        .p-checkbox-box {
            height: 1.25rem;
            width: 1.25rem;
            border: 0.0625rem solid $colors-grey-300;
            background-color: $colors-grey-50;
            border-radius: 0.375rem;
        }

        &.p-checkbox-checked {
            .p-checkbox-box {
                border: 0.0625rem solid $primary-700;
                background-color: $primary-700;
            }
        }
    }
}