@use "variables"as *;
@use "mixins"as *;

.p-confirmdialog {
    background-color: #FFF;
    border-radius: 0.5rem;
    min-width: 25vw;
    max-width: 50vw !important;

    @include respond-to-Xsmall() {
        max-width: 85vw !important;
    }

    @include respond-to-small() {
        max-width: 85vw !important;
    }

    .p-dialog-header {
        border-radius: 0.5rem 0.5rem 0 0;
        border: 0;
        height: 0;
        padding: 0;
        position: relative;
        padding: 3.75rem 4.375rem 0 4.375rem;

        .p-dialog-header-actions {
            position: absolute;
            top: 0;
            left: 0;
            right: auto;

            @include rtl-only {
                left: auto;
                right: 0;
            }

        }
    }

    .p-confirm-dialog-message {
        margin: 0;
        margin-inline-start: 1rem;
        // color: $text-secondary-500;
    }


    .p-dialog-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 1rem;
        gap: 1.25rem;
        padding: 0 4.375rem;

        .p-confirmdialog-icon {
            width: 3rem;
            height: 3rem;
            font-size: 3rem;
            margin-bottom: 1.5625rem;
        }

        .p-confirmdialog-message {
            font-size: 0.875rem;
            font-weight: 700;
            color: $colors-grey-950;
            margin-bottom: 2.1875rem;
            
        }
    }

    .p-dialog-footer {
        border-radius: 0 0 0.5rem 0.5rem;
        padding: 0;
        border: 0;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        padding: 0 4.375rem 2.5rem 4.375rem;
        gap: 0.5rem;


        button {
            min-width: 9.25rem;
            height: 3rem;
            border-radius: 0.5rem;

            .p-button-label {
                text-align: center !important;
                font-size: 0.875rem;
                font-weight: 700;
            }

            .p-icon {
                margin: 0;
                margin-inline-end: 0.5rem;
            }

            &.p-confirmdialog-reject-button {
                background-color: $primary-light;
                color: $primary-700;
            }

            &.p-button-success {
                background-color: $primary-700;
                border-color: $primary-700;

                &:hover {
                    background-color: $colors-surface-darker;
                    border-color: $colors-surface-darker;
                }
            }
        }
    }
}
