@use "variables"as *;
@use "mixins"as *;

.p-dialog:not(.p-confirmdialog) {
    border-radius: 0.625rem !important;
    padding: 1.25rem;

    .p-dialog-header {
        padding: 0;
        padding-bottom: 1.25rem;
        border-bottom:0.125rem solid $colors-grey-50;

        .p-dialog-title {
            font-size: 1rem;
            font-weight: 500;
            color: $colors-grey-950;
        }

        .p-dialog-header-actions {
            p-button {
                .p-dialog-close-button {
                    timesicon {
                        background-color: $colors-red-300;
                        border-radius: 50%;
                        padding: 0.3125rem;
                        color: #FFF;

                        svg {
                            width: 0.875rem;
                            height: 0.875rem;
                        }
                    }
                }
            }
        }
    }

    .p-dialog-content {
        padding: 0;
    }
}