@use "variables"as *;
@use "mixins"as *;

.p-drawer {
    &.p-drawer-active {
        .p-drawer-header {
            position: absolute;
            padding: 0;
            right: 0.75rem;
            left: auto;
            top: 2.0625rem;
            z-index: 1;

            @include rtl-only {
                right: auto;
                left: 0.75rem;
            }
        }
    }
}