@use "variables" as *;
@use "mixins" as *;

input.p-inputtext {
    font-size: 0.875rem;
    min-height: 3rem;

    &.p-variant-filled {
        background-color: $colors-grey-50;
        border: 0;
        font-size: 0.875rem;
        min-height: 3rem;
    }

    &::placeholder {
        color: $colors-grey-600 !important;
    }
}