@use "variables"as *;
@use "mixins"as *;

p-multiselect {
    &.p-multiselect {
        &.p-variant-filled {
            background-color: $colors-grey-50;
            border: 0;
            font-size: 0.875rem;
            min-height: 3rem;

            .p-multiselect-label {
                display: flex;
                line-height: 2.25;
            }
        }

        .p-multiselect-clear-icon {
            left: auto;

            @include rtl-only {
                left: var(--hollat-select-dropdown-width);
                right: auto;
            }
        }
    }
}

.p-overlay {
    .p-multiselect-overlay {
        width: 100%;

        .p-multiselect-header {
            p-checkbox {
                .p-checkbox {
                    margin: 0;
                    margin-inline-end: 0.5rem;
                }
            }
        }

        .p-multiselect-filter-container {
            .p-inputtext.p-multiselect-filter {
                padding-inline-end: 2rem;
            }

            p-inputicon {
                position: absolute;
                top: 1.5rem;
                right: 1.625rem;
                left: auto;

                @include rtl-only {
                    left: 1.625rem;
                    right: auto;
                }
            }
        }

        .p-multiselect-clear-icon {
            left: auto;

            @include rtl-only {
                left: var(--hollat-select-dropdown-width);
                right: auto;
            }
        }
    }
}