@use "variables"as *;
@use "mixins"as *;

p-password {
    width: 100%;
    display: block;

    .p-password {
        width: 100%;
        min-height: 2.75rem;

        .p-inputtext {
            width: 100%;
            padding-inline: 0.75rem 2.5rem !important;
            font-size: 0.875rem;
            font-weight: 500;
            background-color: transparent;
            border-radius: 0.5rem;

            ::placeholder {
                font-size: 0.875rem;
                font-weight: 500;
                color: $colors-grey-400;
            }
        }

        .p-password-toggle-mask-icon {
            cursor: pointer;

            @include rtl-only {
                right: auto !important;
                left: 0.75rem !important;
            }
        }
    }
}