<form
          class="xl:px-3 pt-4 px-sm-0 pt-sm-0 w-full max-w-md mx-auto"
          [formGroup]="registerForm"
          action="post"
          (ngSubmit)="submitRegisterForm(registerForm)"
        >
          <div class="pb-6">
              <input
                class="p-inputtext w-full px-2 py-2 rounded-lg text-xs sm:text-base"
                formControlName="email"
                [placeholder]="'_Auth.enterEmail' | translate"
                pInputText
                type="text"
                id="email"
                name="email"
                autocomplete="off"
              />
            <div
              *ngIf="
                registerForm.get('email')?.errors != null &&
                registerForm.get('email')?.touched
              "
              class="alert alert-danger mt-3 mb-0"
            >
              <p
                class="mb-0 text-xs text-red-600"
                *ngIf="registerForm.get('email')?.errors?.['required']"
              >
                {{ '_Auth.validation.requiredEmail' | translate }}
              </p>
              <p
                class="mb-0 text-xs text-red-600"
                *ngIf="registerForm.get('email')?.errors?.['email']"
              >
                {{ '_Auth.validation.invalidEmail' | translate }}
              </p>
            </div>
          </div>

          <div>
              <input
                class="p-inputtext w-full px-2 py-2 rounded-lg text-xs sm:text-base"
                formControlName="password"
                [placeholder]="'_Auth.enterPassword' | translate"
                pInputText
                type="password"
                id="password"
                name="password"
                autocomplete="off"
              />
            <div
              *ngIf="
                registerForm.get('password')?.errors != null &&
                registerForm.get('password')?.touched
              "
              class="alert alert-danger mt-3"
            >
              <p
                class="mb-0 text-xs text-red-600"
                *ngIf="registerForm.get('password')?.errors?.['required']"
              >
                {{ '_Auth.validation.requiredPassword' | translate }}
              </p>
              <p
                class="mb-0 text-xs text-red-600"
                *ngIf="registerForm.get('password')?.errors?.['pattern']"
              >
                {{ '_Auth.validation.passwordHint' | translate }}
              </p>
            </div>
          </div>

          <div class="flex justify-center mt-10 text-white w-full">
            <button
              [disabled]="registerForm.invalid"
              type="submit"
              class="rounded-full font-medium w-full max-w-48 py-2 disabled:opacity-50 text-xs sm:text-base"
            >
              <span>{{ '_Auth.register' | translate }}</span>
            </button>
          </div>
        </form>
